/*
Hudu API Documentation

<h1>Welcome to the Hudu REST API</h1> <p>The Hudu REST API enables seamless automation of your IT documentation. It's organized into various resources, each with its own specific endpoint.</p>  <h2>Authentication</h2> <p>All API requests require authentication using an API key. To obtain a key, go to <strong>Hudu Admin → Basic Information → API Keys</strong>.</p> <p>Include your API key in the request header, like so:</p> <pre><code>curl https://[YOUR_DOMAIN]/api/v1/companies?page=1 \\   -H \"x-api-key: YOUR_API_KEY_HERE\"</code></pre> <p>You can create and delete API keys at any time.</p>  <h2>Scoping API Keys</h2> <p>When creating an API key, you can configure the following permissions:</p> <ul>   <li>Access to passwords (all REST actions)</li>   <li>Destructive actions (DELETE)</li>   <li>Export capabilities</li>   <li>Whitelisted IPs</li>   <li>Company-specific access</li> </ul> <p>We recommend only granting the minimum required access for each application.</p>  <h2>Format</h2> <p>All API requests must use <strong>JSON</strong> format unless otherwise specified.</p>  <h2>Terminology</h2> <p>Some names in the API differ from those in the Hudu UI:</p> <table>   <thead>     <tr>       <th>Name in Hudu</th>       <th>Name in API</th>     </tr>   </thead>   <tbody>     <tr>       <td>Company (customizable)</td>       <td>Company</td>     </tr>     <tr>       <td>Password</td>       <td>AssetPassword</td>     </tr>     <tr>       <td>Knowledge Base Article</td>       <td>Article</td>     </tr>     <tr>       <td>Process</td>       <td>Procedure</td>     </tr>   </tbody> </table>  <h2>Pagination</h2> <p>All responses are paginated with 25 results per page. Use the <code>?page=X</code> query parameter to navigate.</p>  <h2>Rate Limiting</h2> <p>The API supports up to <strong>300 requests per minute</strong>.</p>  <p>&copy; 2023 Hudu Technologies, Inc. All rights reserved.</p>

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package huduapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// CardsAPIService CardsAPI service
type CardsAPIService service

type ApiGetCardsJumpRequest struct {
	ctx                   context.Context
	ApiService            *CardsAPIService
	integrationType       *string
	integrationSlug       *string
	integrationId         *string
	integrationIdentifier *string
}

// Type of card. Contact support@usehudu.com for a list of types for specific integrations.
func (r ApiGetCardsJumpRequest) IntegrationType(integrationType string) ApiGetCardsJumpRequest {
	r.integrationType = &integrationType
	return r
}

// Identifier of the external integration.
func (r ApiGetCardsJumpRequest) IntegrationSlug(integrationSlug string) ApiGetCardsJumpRequest {
	r.integrationSlug = &integrationSlug
	return r
}

// ID of the entity in the external integration.
func (r ApiGetCardsJumpRequest) IntegrationId(integrationId string) ApiGetCardsJumpRequest {
	r.integrationId = &integrationId
	return r
}

// Identifier of the entity in the external integration (if integration_id is not set).
func (r ApiGetCardsJumpRequest) IntegrationIdentifier(integrationIdentifier string) ApiGetCardsJumpRequest {
	r.integrationIdentifier = &integrationIdentifier
	return r
}

func (r ApiGetCardsJumpRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetCardsJumpExecute(r)
}

/*
GetCardsJump Jump to an asset with integration details without API key authentication, only requiring authentication at the time of jump.

The `/cards/jump` endpoint provides an easy way to create links from external integrations to Hudu. Below are examples of how to jump from a Syncro contact and a Watchman Monitoring computer to the corresponding asset in Hudu:
  - Syncro example:
    ```
    https://[MY_URL_HERE]/api/v1/cards/jump?integration_id=XXXX&integration_slug=syncro&integration_type=contact
    ```

  - Watchman Monitoring example (using identifier instead of ID):
    ```
    https://[MY_URL_HERE]/api/v1/cards/jump?integration_identifier=XXXX&integration_slug=watchman&integration_type=computer
    ```

    @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
    @return ApiGetCardsJumpRequest
*/
func (a *CardsAPIService) GetCardsJump(ctx context.Context) ApiGetCardsJumpRequest {
	return ApiGetCardsJumpRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *CardsAPIService) GetCardsJumpExecute(r ApiGetCardsJumpRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CardsAPIService.GetCardsJump")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cards/jump"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.integrationType == nil {
		return nil, reportError("integrationType is required and must be specified")
	}
	if r.integrationSlug == nil {
		return nil, reportError("integrationSlug is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "integration_type", r.integrationType, "", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "integration_slug", r.integrationSlug, "", "")
	if r.integrationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "integration_id", r.integrationId, "", "")
	}
	if r.integrationIdentifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "integration_identifier", r.integrationIdentifier, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetCardsLookupRequest struct {
	ctx                   context.Context
	ApiService            *CardsAPIService
	integrationSlug       *string
	integrationId         *string
	integrationIdentifier *string
}

// Identifier of the external integration
func (r ApiGetCardsLookupRequest) IntegrationSlug(integrationSlug string) ApiGetCardsLookupRequest {
	r.integrationSlug = &integrationSlug
	return r
}

// ID in the external integration. Must be present unless integration_identifier is set
func (r ApiGetCardsLookupRequest) IntegrationId(integrationId string) ApiGetCardsLookupRequest {
	r.integrationId = &integrationId
	return r
}

// Identifier in the external integration (used if integration_id is not set)
func (r ApiGetCardsLookupRequest) IntegrationIdentifier(integrationIdentifier string) ApiGetCardsLookupRequest {
	r.integrationIdentifier = &integrationIdentifier
	return r
}

func (r ApiGetCardsLookupRequest) Execute() (*GetCardsLookup200Response, *http.Response, error) {
	return r.ApiService.GetCardsLookupExecute(r)
}

/*
GetCardsLookup Lookup cards with external integration details

Searches for cards associated with the specified external integration details. Returns a 200 status code if successful.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetCardsLookupRequest
*/
func (a *CardsAPIService) GetCardsLookup(ctx context.Context) ApiGetCardsLookupRequest {
	return ApiGetCardsLookupRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetCardsLookup200Response
func (a *CardsAPIService) GetCardsLookupExecute(r ApiGetCardsLookupRequest) (*GetCardsLookup200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetCardsLookup200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CardsAPIService.GetCardsLookup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cards/lookup"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.integrationSlug == nil {
		return localVarReturnValue, nil, reportError("integrationSlug is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "integration_slug", r.integrationSlug, "", "")
	if r.integrationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "integration_id", r.integrationId, "", "")
	}
	if r.integrationIdentifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "integration_identifier", r.integrationIdentifier, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
