/*
Hudu API Documentation

<h1>Welcome to the Hudu REST API</h1> <p>The Hudu REST API enables seamless automation of your IT documentation. It's organized into various resources, each with its own specific endpoint.</p>  <h2>Authentication</h2> <p>All API requests require authentication using an API key. To obtain a key, go to <strong>Hudu Admin → Basic Information → API Keys</strong>.</p> <p>Include your API key in the request header, like so:</p> <pre><code>curl https://[YOUR_DOMAIN]/api/v1/companies?page=1 \\   -H \"x-api-key: YOUR_API_KEY_HERE\"</code></pre> <p>You can create and delete API keys at any time.</p>  <h2>Scoping API Keys</h2> <p>When creating an API key, you can configure the following permissions:</p> <ul>   <li>Access to passwords (all REST actions)</li>   <li>Destructive actions (DELETE)</li>   <li>Export capabilities</li>   <li>Whitelisted IPs</li>   <li>Company-specific access</li> </ul> <p>We recommend only granting the minimum required access for each application.</p>  <h2>Format</h2> <p>All API requests must use <strong>JSON</strong> format unless otherwise specified.</p>  <h2>Terminology</h2> <p>Some names in the API differ from those in the Hudu UI:</p> <table>   <thead>     <tr>       <th>Name in Hudu</th>       <th>Name in API</th>     </tr>   </thead>   <tbody>     <tr>       <td>Company (customizable)</td>       <td>Company</td>     </tr>     <tr>       <td>Password</td>       <td>AssetPassword</td>     </tr>     <tr>       <td>Knowledge Base Article</td>       <td>Article</td>     </tr>     <tr>       <td>Process</td>       <td>Procedure</td>     </tr>   </tbody> </table>  <h2>Pagination</h2> <p>All responses are paginated with 25 results per page. Use the <code>?page=X</code> query parameter to navigate.</p>  <h2>Rate Limiting</h2> <p>The API supports up to <strong>300 requests per minute</strong>.</p>  <p>&copy; 2023 Hudu Technologies, Inc. All rights reserved.</p>

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package huduapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// RackStorageItemsAPIService RackStorageItemsAPI service
type RackStorageItemsAPIService service

type ApiDeleteRackStorageItemsIdRequest struct {
	ctx        context.Context
	ApiService *RackStorageItemsAPIService
	id         int32
}

func (r ApiDeleteRackStorageItemsIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteRackStorageItemsIdExecute(r)
}

/*
DeleteRackStorageItemsId Delete a Rack Storage Item

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of the Rack Storage Item that needs to be deleted
	@return ApiDeleteRackStorageItemsIdRequest
*/
func (a *RackStorageItemsAPIService) DeleteRackStorageItemsId(ctx context.Context, id int32) ApiDeleteRackStorageItemsIdRequest {
	return ApiDeleteRackStorageItemsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *RackStorageItemsAPIService) DeleteRackStorageItemsIdExecute(r ApiDeleteRackStorageItemsIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RackStorageItemsAPIService.DeleteRackStorageItemsId")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rack_storage_items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetRackStorageItemsRequest struct {
	ctx               context.Context
	ApiService        *RackStorageItemsAPIService
	rackStorageRoleId *int32
	assetId           *int32
	startUnit         *int32
	endUnit           *int32
	status            *int32
	side              *string
	createdAt         *string
	updatedAt         *string
}

// Filter by Rack Storage Role ID
func (r ApiGetRackStorageItemsRequest) RackStorageRoleId(rackStorageRoleId int32) ApiGetRackStorageItemsRequest {
	r.rackStorageRoleId = &rackStorageRoleId
	return r
}

// Filter by Asset ID
func (r ApiGetRackStorageItemsRequest) AssetId(assetId int32) ApiGetRackStorageItemsRequest {
	r.assetId = &assetId
	return r
}

// Filter by Start Unit
func (r ApiGetRackStorageItemsRequest) StartUnit(startUnit int32) ApiGetRackStorageItemsRequest {
	r.startUnit = &startUnit
	return r
}

// Filter by End Unit
func (r ApiGetRackStorageItemsRequest) EndUnit(endUnit int32) ApiGetRackStorageItemsRequest {
	r.endUnit = &endUnit
	return r
}

// Filter by Status
func (r ApiGetRackStorageItemsRequest) Status(status int32) ApiGetRackStorageItemsRequest {
	r.status = &status
	return r
}

// Filter by Side. Front or Rear
func (r ApiGetRackStorageItemsRequest) Side(side string) ApiGetRackStorageItemsRequest {
	r.side = &side
	return r
}

// Filter rack storage items created within a range or at an exact time. Format: &#39;start_datetime,end_datetime&#39; for range, &#39;exact_datetime&#39; for exact match. Both &#39;start_datetime&#39; and &#39;end_datetime&#39; should be in ISO 8601 format. If &#39;start_datetime&#39; is provided and &#39;end_datetime&#39; is blank, it filters companies updated from &#39;start_datetime&#39; until now. Example: &#39;2023-06-07T12:34:56Z,&#39; If &#39;end_datetime&#39; is provided and &#39;start_datetime&#39; is blank, it filters companies updated from the past until &#39;end_datetime&#39;. Example: &#39;,2023-06-07T12:34:56Z&#39; If both &#39;start_datetime&#39; and &#39;end_datetime&#39; are provided, it filters companies updated within that range. Example: &#39;2023-06-01T12:34:56Z,2023-06-07T12:34:56Z&#39;
func (r ApiGetRackStorageItemsRequest) CreatedAt(createdAt string) ApiGetRackStorageItemsRequest {
	r.createdAt = &createdAt
	return r
}

// Filter rack storage items updated within a range or at an exact time. Format: &#39;start_datetime,end_datetime&#39; for range, &#39;exact_datetime&#39; for exact match. Both &#39;start_datetime&#39; and &#39;end_datetime&#39; should be in ISO 8601 format. If &#39;start_datetime&#39; is provided and &#39;end_datetime&#39; is blank, it filters companies updated from &#39;start_datetime&#39; until now. Example: &#39;2023-06-07T12:34:56Z,&#39; If &#39;end_datetime&#39; is provided and &#39;start_datetime&#39; is blank, it filters companies updated from the past until &#39;end_datetime&#39;. Example: &#39;,2023-06-07T12:34:56Z&#39; If both &#39;start_datetime&#39; and &#39;end_datetime&#39; are provided, it filters companies updated within that range. Example: &#39;2023-06-01T12:34:56Z,2023-06-07T12:34:56Z&#39;
func (r ApiGetRackStorageItemsRequest) UpdatedAt(updatedAt string) ApiGetRackStorageItemsRequest {
	r.updatedAt = &updatedAt
	return r
}

func (r ApiGetRackStorageItemsRequest) Execute() ([]RackStorageItem, *http.Response, error) {
	return r.ApiService.GetRackStorageItemsExecute(r)
}

/*
GetRackStorageItems Get a list of Rack Storage Items

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRackStorageItemsRequest
*/
func (a *RackStorageItemsAPIService) GetRackStorageItems(ctx context.Context) ApiGetRackStorageItemsRequest {
	return ApiGetRackStorageItemsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []RackStorageItem
func (a *RackStorageItemsAPIService) GetRackStorageItemsExecute(r ApiGetRackStorageItemsRequest) ([]RackStorageItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []RackStorageItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RackStorageItemsAPIService.GetRackStorageItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rack_storage_items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.rackStorageRoleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rack_storage_role_id", r.rackStorageRoleId, "", "")
	}
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "asset_id", r.assetId, "", "")
	}
	if r.startUnit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_unit", r.startUnit, "", "")
	}
	if r.endUnit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_unit", r.endUnit, "", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "", "")
	}
	if r.side != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "side", r.side, "", "")
	}
	if r.createdAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at", r.createdAt, "", "")
	}
	if r.updatedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at", r.updatedAt, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRackStorageItemsIdRequest struct {
	ctx        context.Context
	ApiService *RackStorageItemsAPIService
	id         int32
}

func (r ApiGetRackStorageItemsIdRequest) Execute() (*RackStorageItem, *http.Response, error) {
	return r.ApiService.GetRackStorageItemsIdExecute(r)
}

/*
GetRackStorageItemsId Get a Rack Storage Item

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of the requested Rack Storage Item
	@return ApiGetRackStorageItemsIdRequest
*/
func (a *RackStorageItemsAPIService) GetRackStorageItemsId(ctx context.Context, id int32) ApiGetRackStorageItemsIdRequest {
	return ApiGetRackStorageItemsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return RackStorageItem
func (a *RackStorageItemsAPIService) GetRackStorageItemsIdExecute(r ApiGetRackStorageItemsIdRequest) (*RackStorageItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RackStorageItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RackStorageItemsAPIService.GetRackStorageItemsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rack_storage_items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostRackStorageItemsRequest struct {
	ctx             context.Context
	ApiService      *RackStorageItemsAPIService
	rackStorageItem *RackStorageItem
}

// Rack Storage Item object that needs to be added to the store
func (r ApiPostRackStorageItemsRequest) RackStorageItem(rackStorageItem RackStorageItem) ApiPostRackStorageItemsRequest {
	r.rackStorageItem = &rackStorageItem
	return r
}

func (r ApiPostRackStorageItemsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostRackStorageItemsExecute(r)
}

/*
PostRackStorageItems Create a Rack Storage Item

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostRackStorageItemsRequest
*/
func (a *RackStorageItemsAPIService) PostRackStorageItems(ctx context.Context) ApiPostRackStorageItemsRequest {
	return ApiPostRackStorageItemsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *RackStorageItemsAPIService) PostRackStorageItemsExecute(r ApiPostRackStorageItemsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RackStorageItemsAPIService.PostRackStorageItems")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rack_storage_items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rackStorageItem == nil {
		return nil, reportError("rackStorageItem is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rackStorageItem
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPutRackStorageItemsIdRequest struct {
	ctx             context.Context
	ApiService      *RackStorageItemsAPIService
	id              int32
	rackStorageItem *RackStorageItem
}

// Rack Storage Item object that needs to be updated
func (r ApiPutRackStorageItemsIdRequest) RackStorageItem(rackStorageItem RackStorageItem) ApiPutRackStorageItemsIdRequest {
	r.rackStorageItem = &rackStorageItem
	return r
}

func (r ApiPutRackStorageItemsIdRequest) Execute() (*RackStorageItem, *http.Response, error) {
	return r.ApiService.PutRackStorageItemsIdExecute(r)
}

/*
PutRackStorageItemsId Update a Rack Storage Item

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of the Rack Storage Item that needs to be updated
	@return ApiPutRackStorageItemsIdRequest
*/
func (a *RackStorageItemsAPIService) PutRackStorageItemsId(ctx context.Context, id int32) ApiPutRackStorageItemsIdRequest {
	return ApiPutRackStorageItemsIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return RackStorageItem
func (a *RackStorageItemsAPIService) PutRackStorageItemsIdExecute(r ApiPutRackStorageItemsIdRequest) (*RackStorageItem, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RackStorageItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RackStorageItemsAPIService.PutRackStorageItemsId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rack_storage_items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rackStorageItem == nil {
		return localVarReturnValue, nil, reportError("rackStorageItem is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rackStorageItem
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
