openapi: 3.0.1
info:
  description: |-
    <h1>Welcome to the Hudu REST API</h1>
    <p>The Hudu REST API enables seamless automation of your IT documentation. It's organized into various resources, each with its own specific endpoint.</p>

    <h2>Authentication</h2>
    <p>All API requests require authentication using an API key. To obtain a key, go to <strong>Hudu Admin → Basic Information → API Keys</strong>.</p>
    <p>Include your API key in the request header, like so:</p>
    <pre><code>curl https://[YOUR_DOMAIN]/api/v1/companies?page=1 \
      -H "x-api-key: YOUR_API_KEY_HERE"</code></pre>
    <p>You can create and delete API keys at any time.</p>

    <h2>Scoping API Keys</h2>
    <p>When creating an API key, you can configure the following permissions:</p>
    <ul>
      <li>Access to passwords (all REST actions)</li>
      <li>Destructive actions (DELETE)</li>
      <li>Export capabilities</li>
      <li>Whitelisted IPs</li>
      <li>Company-specific access</li>
    </ul>
    <p>We recommend only granting the minimum required access for each application.</p>

    <h2>Format</h2>
    <p>All API requests must use <strong>JSON</strong> format unless otherwise specified.</p>

    <h2>Terminology</h2>
    <p>Some names in the API differ from those in the Hudu UI:</p>
    <table>
      <thead>
        <tr>
          <th>Name in Hudu</th>
          <th>Name in API</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Company (customizable)</td>
          <td>Company</td>
        </tr>
        <tr>
          <td>Password</td>
          <td>AssetPassword</td>
        </tr>
        <tr>
          <td>Knowledge Base Article</td>
          <td>Article</td>
        </tr>
        <tr>
          <td>Process</td>
          <td>Procedure</td>
        </tr>
      </tbody>
    </table>

    <h2>Pagination</h2>
    <p>All responses are paginated with 25 results per page. Use the <code>?page=X</code> query parameter to navigate.</p>

    <h2>Rate Limiting</h2>
    <p>The API supports up to <strong>300 requests per minute</strong>.</p>

    <p>&copy; 2023 Hudu Technologies, Inc. All rights reserved.</p>
  title: Hudu API Documentation
  version: "1.0"
  x-copyright: "&copy; 2023 Hudu Technologies, Inc. All rights reserved."
servers:
- url: https://nexigen.huducloud.com/api/v1
- url: http://nexigen.huducloud.com/api/v1
security:
- APIKeyHeader: []
paths:
  /activity_logs:
    delete:
      description: "This endpoint allows you to delete activity logs from a specific\
        \ datetime. If the 'delete_unassigned_logs' parameter is set to true, only\
        \ logs where user_id is nil will be deleted."
      operationId: delete_activity_logs
      parameters:
      - description: Specify the starting datetime from which logs will be deleted;
          must be in ISO 8601 format
        in: query
        name: datetime
        required: true
        schema:
          type: string
      - description: "If true, only deletes logs where user_id is nil"
        in: query
        name: delete_unassigned_logs
        schema:
          type: boolean
      responses:
        "200":
          content: {}
          description: Successful operation
        "400":
          content: {}
          description: Bad Request - Invalid datetime format or missing datetime parameter
        "401":
          content: {}
          description: Unauthorized
      summary: Delete activity logs
      tags:
      - Activity Logs
    get:
      description: This endpoint allows you to fetch activity logs of users with various
        filtering options.
      operationId: get_activity_logs
      parameters:
      - description: Specify the current page of results to retrieve
        in: query
        name: page
        schema:
          type: number
      - description: Filter logs by a specific user ID
        in: query
        name: user_id
        schema:
          type: number
      - description: Filter logs by a user's email address
        in: query
        name: user_email
        schema:
          type: string
      - description: Filter logs by resource ID; must be used in conjunction with
          resource_type
        in: query
        name: resource_id
        schema:
          type: number
      - description: "Filter logs by resource type (Asset, AssetPassword, Company,\
          \ Article, etc.); must be used in conjunction with resource_id"
        in: query
        name: resource_type
        schema:
          type: string
      - description: Filter logs by the action performed
        in: query
        name: action_message
        schema:
          type: string
      - description: Filter logs starting from a specific date; must be in ISO 8601
          format
        in: query
        name: start_date
        schema:
          type: string
      - description: Specify the number of results to return per page
        in: query
        name: page_size
        schema:
          type: number
      responses:
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Retrieve a list of activity logs
      tags:
      - Activity Logs
  /api_info:
    get:
      description: "This endpoint returns the version and date of your Hudu instance\
        \ in JSON format:\n  \n{\n  \"version\": \"x.x\",\n  \"date\": \"2021-11-03\"\
        \n}"
      operationId: get_api_info
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_api_info_200_response"
          description: Successful operation
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Retrieve API information
      tags:
      - API Info
  /articles:
    get:
      operationId: get_articles
      parameters:
      - description: Filter by article name
        in: query
        name: name
        schema:
          type: string
      - description: Filter by company_id
        in: query
        name: company_id
        schema:
          type: integer
      - description: Get current page of results
        in: query
        name: page
        schema:
          type: integer
      - description: Filter by draft status
        in: query
        name: draft
        schema:
          type: boolean
      - description: "If true, filter by public articles"
        in: query
        name: enable_sharing
        schema:
          type: boolean
      - description: Number of results to return
        in: query
        name: page_size
        schema:
          type: integer
      - description: Filter by URL slug
        in: query
        name: slug
        schema:
          type: string
      - description: Filter by search query
        in: query
        name: search
        schema:
          type: string
      - description: "Filter articles updated within a range or at an exact time.\
          \ Format: 'start_datetime,end_datetime' for range, 'exact_datetime' for\
          \ exact match. Both 'start_datetime' and 'end_datetime' should be in ISO\
          \ 8601 format. If 'start_datetime' is provided and 'end_datetime' is blank,\
          \ it filters articles updated from 'start_datetime' until now. Example:\
          \ '2023-06-07T12:34:56Z,' If 'end_datetime' is provided and 'start_datetime'\
          \ is blank, it filters articles updated from the past until 'end_datetime'.\
          \ Example: ',2023-06-07T12:34:56Z' If both 'start_datetime' and 'end_datetime'\
          \ are provided, it filters articles updated within that range. Example:\
          \ '2023-06-01T12:34:56Z,2023-06-07T12:34:56Z'"
        in: query
        name: updated_at
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_articles_200_response"
          description: Successful operation
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Get a list of Knowledge Base Articles
      tags:
      - Articles
    post:
      operationId: post_articles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_articles_request"
        description: Article object that needs to be added to the store
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Article"
          description: Article created successfully
        "401":
          content: {}
          description: Unauthorized
        "422":
          content: {}
          description: Unable to process request
      summary: Create a Knowledge Base Article
      tags:
      - Articles
      x-codegen-request-body-name: article
  /articles/{id}:
    delete:
      operationId: delete_articles_id
      parameters:
      - description: ID of the requested article
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Article deleted successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Delete a Knowledge Base Article
      tags:
      - Articles
    get:
      operationId: get_articles_id
      parameters:
      - description: ID of the requested article
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_articles_id_200_response"
          description: Successful operation
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Get a Knowledge Base Article
      tags:
      - Articles
    put:
      operationId: put_articles_id
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_articles_request"
        description: Article object that needs to be updated
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_articles_id_200_response"
          description: Article updated successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Update a Knowledge Base Article
      tags:
      - Articles
      x-codegen-request-body-name: article
  /articles/{id}/archive:
    put:
      operationId: put_articles_id_archive
      parameters:
      - description: ID of the requested article
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_articles_id_200_response"
          description: Article archived successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Archival Failure
      summary: Archive a Knowledge Base Article
      tags:
      - Articles
  /articles/{id}/unarchive:
    put:
      operationId: put_articles_id_unarchive
      parameters:
      - description: ID of the requested article
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_articles_id_200_response"
          description: Article unarchived successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Archival Failure
      summary: Unarchive a Knowledge Base Article
      tags:
      - Articles
  /asset_layouts:
    get:
      description: Retrieve a list of available Asset Layouts.
      operationId: get_asset_layouts
      parameters:
      - description: Filter by the name of the Asset Layout
        in: query
        name: name
        schema:
          type: string
      - description: Get the current page of results
        in: query
        name: page
        schema:
          type: number
      - description: Filter by URL slug
        in: query
        name: slug
        schema:
          type: string
      - description: "If true, the Asset Layout is active"
        in: query
        name: active
        schema:
          type: boolean
      - description: "Filter asset layouts updated within a range or at an exact time.\
          \ Format: 'start_datetime,end_datetime' for range, 'exact_datetime' for\
          \ exact match. Both 'start_datetime' and 'end_datetime' should be in ISO\
          \ 8601 format. If 'start_datetime' is provided and 'end_datetime' is blank,\
          \ it filters asset layouts updated from 'start_datetime' until now. Example:\
          \ '2023-06-07T12:34:56Z,' If 'end_datetime' is provided and 'start_datetime'\
          \ is blank, it filters asset layouts updated from the past until 'end_datetime'.\
          \ Example: ',2023-06-07T12:34:56Z' If both 'start_datetime' and 'end_datetime'\
          \ are provided, it filters asset layouts updated within that range. Example:\
          \ '2023-06-01T12:34:56Z,2023-06-07T12:34:56Z'"
        in: query
        name: updated_at
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_asset_layouts_200_response"
          description: Successfully retrieved a list of Asset Layouts
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Get a list of Asset Layouts
      tags:
      - Asset Layouts
    post:
      description: Create a new Asset Layout with the specified properties.
      operationId: post_asset_layouts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_asset_layouts_request"
        description: Asset layout object that needs to be added to the store
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_asset_layouts_201_response"
          description: Successfully created an Asset Layout
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Create an Asset Layout
      tags:
      - Asset Layouts
      x-codegen-request-body-name: asset_layout
  /asset_layouts/{id}:
    get:
      operationId: get_asset_layouts_id
      parameters:
      - description: ID of the requested Asset Layout
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_asset_layouts_201_response"
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Get an Asset Layout
      tags:
      - Asset Layouts
    put:
      operationId: put_asset_layouts_id
      parameters:
      - description: ID of the Asset Layout to be updated
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/put_asset_layouts_id_request"
        description: Asset layout object that needs to be updated in the store
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_asset_layouts_201_response"
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Update an Asset Layout
      tags:
      - Asset Layouts
      x-codegen-request-body-name: asset_layout
  /asset_passwords:
    get:
      operationId: get_asset_passwords
      parameters:
      - description: Filter by name of password
        in: query
        name: name
        schema:
          type: string
      - description: Filter by company_id
        in: query
        name: company_id
        schema:
          format: int64
          type: integer
      - description: Set to true to display only archived assets
        in: query
        name: archived
        schema:
          type: boolean
      - description: Get current page of results
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of results to return
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      - description: Filter by url slug
        in: query
        name: slug
        schema:
          type: string
      - description: Filter by search query
        in: query
        name: search
        schema:
          type: string
      - description: "Filter asset passwords updated within a range or at an exact\
          \ time. Format: 'start_datetime,end_datetime' for range, 'exact_datetime'\
          \ for exact match. Both 'start_datetime' and 'end_datetime' should be in\
          \ ISO 8601 format. If 'start_datetime' is provided and 'end_datetime' is\
          \ blank, it filters asset passwords updated from 'start_datetime' until\
          \ now. Example: '2023-06-07T12:34:56Z,' If 'end_datetime' is provided and\
          \ 'start_datetime' is blank, it filters asset passwords updated from the\
          \ past until 'end_datetime'. Example: ',2023-06-07T12:34:56Z' If both 'start_datetime'\
          \ and 'end_datetime' are provided, it filters asset passwords updated within\
          \ that range. Example: '2023-06-01T12:34:56Z,2023-06-07T12:34:56Z'"
        in: query
        name: updated_at
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_asset_passwords_200_response"
          description: Success
        "401":
          content: {}
          description: Unauthorized
      summary: Get a list of Passwords
      tags:
      - Asset Passwords
    post:
      operationId: post_asset_passwords
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_asset_passwords_request"
        description: Asset Password data
        required: false
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_asset_passwords_201_response"
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "422":
          content: {}
          description: Unable to process request
      summary: Create a Password
      tags:
      - Asset Passwords
      x-codegen-request-body-name: body
  /asset_passwords/{id}:
    delete:
      operationId: delete_asset_passwords_id
      parameters:
      - description: ID of the requested Password
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Delete a Password
      tags:
      - Asset Passwords
    get:
      operationId: get_asset_passwords_id
      parameters:
      - description: ID of the requested Password
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_asset_passwords_201_response"
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Get a Password
      tags:
      - Asset Passwords
    put:
      operationId: put_asset_passwords_id
      parameters:
      - description: ID of the requested Password
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_asset_passwords_request"
        description: Asset Password data
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_asset_passwords_201_response"
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Update a Password
      tags:
      - Asset Passwords
      x-codegen-request-body-name: body
  /asset_passwords/{id}/archive:
    put:
      operationId: put_asset_passwords_id_archive
      parameters:
      - description: ID of the requested Password
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_asset_passwords_201_response"
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Archival Failure
      summary: Archive a Password
      tags:
      - Asset Passwords
  /asset_passwords/{id}/unarchive:
    put:
      operationId: put_asset_passwords_id_unarchive
      parameters:
      - description: id of the requested Password
        in: path
        name: id
        required: true
        schema:
          type: number
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_asset_passwords_201_response"
          description: Success
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Archival Failure
      summary: Unarchive a Password
      tags:
      - Asset Passwords
  /assets:
    get:
      operationId: get_assets
      parameters:
      - description: Filter assets by the parent company's ID
        in: query
        name: company_id
        schema:
          type: number
      - description: Filter assets by their ID
        in: query
        name: id
        schema:
          type: number
      - description: Filter assets by their name
        in: query
        name: name
        schema:
          type: string
      - description: Filter assets by their primary serial number
        in: query
        name: primary_serial
        schema:
          type: string
      - description: Filter assets by their associated asset layout's ID
        in: query
        name: asset_layout_id
        schema:
          type: number
      - description: Specify the page number of results to return
        in: query
        name: page
        schema:
          type: number
      - description: Set to true to display only archived assets
        in: query
        name: archived
        schema:
          type: boolean
      - description: Limit the number of assets returned per page
        in: query
        name: page_size
        schema:
          type: number
      - description: Filter assets by their URL slug
        in: query
        name: slug
        schema:
          type: string
      - description: Filter assets using a search query
        in: query
        name: search
        schema:
          type: string
      - description: "Filter assets updated within a range or at an exact time. Format:\
          \ 'start_datetime,end_datetime' for range, 'exact_datetime' for exact match."
        in: query
        name: updated_at
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_assets_200_response"
          description: A list of assets successfully retrieved
        "401":
          content: {}
          description: "Unauthorized access, authentication required"
        "404":
          content: {}
          description: The specified resource(s) could not be found
      summary: Retrieve a list of assets
      tags:
      - Assets
  /companies/{company_id}/assets:
    get:
      operationId: get_companies_company_id_assets
      parameters:
      - description: The identifier of the requested parent Company
        in: path
        name: company_id
        required: true
        schema:
          type: number
      - description: The current page of results to retrieve
        in: query
        name: page
        schema:
          type: number
      - description: Set to true to only show archived results
        in: query
        name: archived
        schema:
          type: boolean
      - description: The number of results to return per page
        in: query
        name: page_size
        schema:
          type: number
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_assets_200_response"
          description: A list of assets for the specified company
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Get a list of Assets specific to a Company
      tags:
      - Assets
    post:
      operationId: post_companies_company_id_assets
      parameters:
      - description: The identifier of the parent company for the new asset
        in: path
        name: company_id
        required: true
        schema:
          type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_companies_company_id_assets_request"
        description: |-
          Create a new asset by sending asset data in the request body formatted as JSON.

          **Important:** Use the `custom_fields` key to specify values for the asset's custom fields. Each custom field should be provided as a key-value pair, where the **key** must exactly match the name of the custom field you've created in your Asset Layout (converted to snake case: lowercase letters and underscores in place of spaces).

          Examples of custom field types and formats:

          * **Text fields:** A simple string value.
            * Example: `{ "your_custom_text_field": "Some text here" }`

          * **Date fields:** Date formatted as YYYY/MM/DD.
            * Example: `{ "your_due_date": "2024/01/15" }`

          * **Checkbox fields:** Boolean as a string ("true" or "false").
            * Example: `{ "is_active": "true" }`

          * **Number fields:** Numeric value as a string.
            * Example: `{ "your_score": "5" }`

          * **Address fields:** Object containing required address components.
            * Example: `{ "office_location": { "address_line_1": "123 Main St", "city": "Denver", "state": "CO", "zip": "80202", "country_name": "USA" } }`

          * **Asset tag fields:** Array of asset IDs.
            * Example: `{ "your_linked_assets": [456, 789] }`

          * **List select fields:** Array of item names.
            * Example: `{ "your_categories": ["Item 1", "Item 2"] }`

          Replace placeholder keys (like `your_custom_text_field`) with the exact name of your Asset Layout's custom fields.
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Asset"
          description: The created asset
      summary: Create an Asset
      tags:
      - Assets
      x-codegen-request-body-name: asset
  /companies/{company_id}/assets/{id}:
    delete:
      operationId: delete_companies_company_id_assets_id
      parameters:
      - description: The identifier of the requested Asset
        in: path
        name: id
        required: true
        schema:
          type: number
      - description: The identifier of the requested parent Company
        in: path
        name: company_id
        required: true
        schema:
          type: number
      responses:
        "204":
          content: {}
          description: Asset deleted successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Delete an Asset
      tags:
      - Assets
    get:
      operationId: get_companies_company_id_assets_id
      parameters:
      - description: The identifier of the requested Asset
        in: path
        name: id
        required: true
        schema:
          type: number
      - description: The identifier of the requested parent Company
        in: path
        name: company_id
        required: true
        schema:
          type: number
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Asset"
          description: The requested Asset
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Get an Asset
      tags:
      - Assets
    put:
      operationId: put_companies_company_id_assets_id
      parameters:
      - description: The identifier of the requested Asset
        in: path
        name: id
        required: true
        schema:
          type: number
      - description: The identifier of the requested parent Company
        in: path
        name: company_id
        required: true
        schema:
          type: number
      requestBody:
        content:
          application/json:
            schema:
              example:
                asset:
                  name: Updated Asset
                  primary_serial: SN789012
                  primary_mail: updated@example.com
                  primary_model: Model Y
                  primary_manufacturer: ACME Corp
                  custom_fields:
                  - your_custom_text_field_one: Updated text
                  - your_due_date: 2025/02/15
                  - is_active: true
                  - your_score: 8
                  - office_location:
                      address_line_1: 456 Updated St
                      address_line_2: Suite 200
                      city: Melbourne
                      state: VIC
                      zip: "3000"
                      country_name: AU
                  - your_linked_assets:
                    - 123
                    - 456
                  - your_categories:
                    - Item 2
                    - Item 3
              type: object
        description: |-
          Update an existing asset by sending asset data in the request body formatted as JSON.

          **Important:** Use the `custom_fields` key to specify values for the asset's custom fields. Each custom field should be provided as a hash keyed by the field's label (case-insensitive, spaces or underscores allowed).

          Examples of field types and formats:

          * **Text fields:** `{ "your_custom_text_field_one": "Some updated text" }`
          * **Date fields:** `{ "your_due_date": "2025/02/15" }`
          * **Checkbox fields:** `{ "is_active": true }`
          * **Number fields:** `{ "your_score": 8 }`
          * **Asset tag fields:** `{ "your_linked_assets": [123, 456] }`
          * **List select fields:** `{ "your_categories": ["Item 2", "Item 3"] }`
          * **Address fields:** `{ "office_location": { "address_line_1": "123 Test Street", "address_line_2": "Suite 1", "city": "Boulder", "state": "CO", "zip": "80301", "country_name": "US" } }`
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Asset"
          description: The updated Asset
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Update an Asset
      tags:
      - Assets
      x-codegen-request-body-name: asset
  /companies/{company_id}/assets/{id}/archive:
    put:
      operationId: put_companies_company_id_assets_id_archive
      parameters:
      - description: The identifier of the requested Asset
        in: path
        name: id
        required: true
        schema:
          type: number
      - description: The identifier of the requested parent Company
        in: path
        name: company_id
        required: true
        schema:
          type: number
      responses:
        "200":
          content: {}
          description: Asset archived successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Archival Failure
      summary: Archive an Asset
      tags:
      - Assets
  /companies/{company_id}/assets/{id}/unarchive:
    put:
      operationId: put_companies_company_id_assets_id_unarchive
      parameters:
      - description: The identifier of the requested Asset
        in: path
        name: id
        required: true
        schema:
          type: number
      - description: The identifier of the requested parent Company
        in: path
        name: company_id
        required: true
        schema:
          type: number
      responses:
        "200":
          content: {}
          description: Asset unarchived successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unarchival Failure
      summary: Unarchive an Asset
      tags:
      - Assets
  /companies/{company_id}/assets/{id}/move_layout:
    put:
      description: |-
        Moves an Asset to a new Layout while preserving field values. The system will:

        1. Match existing fields between layouts by exact label and type (case-sensitive, spaces matter)
        2. Create new fields in the target layout if they don't exist
        3. Transfer all field values to their corresponding fields in the new layout
        4. Validate that any required fields in the new layout exist in the current layout

        Note: Fields are matched by their label and type. If a field with the same label (case-sensitive, spaces matter) and type exists in the target layout, the asset's field value will be mapped to that existing field. If no matching field exists, a new one will be created with the same properties as the source field.
      operationId: put_companies_company_id_assets_id_move_layout
      parameters:
      - description: ID of the parent company
        in: path
        name: company_id
        required: true
        schema:
          type: integer
      - description: ID of the asset to move
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/put_companies_company_id_assets_id_move_layout_request"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Asset"
          description: Asset successfully moved to new layout
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Asset layout not found
        "422":
          content: {}
          description: Unable to process request
      summary: Move asset to a different layout
      tags:
      - Assets
      x-codegen-request-body-name: body
  /cards/lookup:
    get:
      description: Searches for cards associated with the specified external integration
        details. Returns a 200 status code if successful.
      operationId: get_cards_lookup
      parameters:
      - description: Identifier of the external integration
        in: query
        name: integration_slug
        required: true
        schema:
          type: string
      - description: ID in the external integration. Must be present unless integration_identifier
          is set
        in: query
        name: integration_id
        schema:
          type: string
      - description: Identifier in the external integration (used if integration_id
          is not set)
        in: query
        name: integration_identifier
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_cards_lookup_200_response"
          description: Cards found successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Lookup cards with external integration details
      tags:
      - Cards
  /cards/jump:
    get:
      description: |-
        The `/cards/jump` endpoint provides an easy way to create links from external integrations to Hudu. Below are examples of how to jump from a Syncro contact and a Watchman Monitoring computer to the corresponding asset in Hudu:
        - Syncro example:
          ```
          https://[MY_URL_HERE]/api/v1/cards/jump?integration_id=XXXX&integration_slug=syncro&integration_type=contact
          ```

        - Watchman Monitoring example (using identifier instead of ID):
          ```
          https://[MY_URL_HERE]/api/v1/cards/jump?integration_identifier=XXXX&integration_slug=watchman&integration_type=computer
          ```
      operationId: get_cards_jump
      parameters:
      - description: Type of card. Contact support@usehudu.com for a list of types
          for specific integrations.
        in: query
        name: integration_type
        required: true
        schema:
          type: string
      - description: Identifier of the external integration.
        in: query
        name: integration_slug
        required: true
        schema:
          type: string
      - description: ID of the entity in the external integration.
        in: query
        name: integration_id
        schema:
          type: string
      - description: Identifier of the entity in the external integration (if integration_id
          is not set).
        in: query
        name: integration_identifier
        schema:
          type: string
      responses:
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: "Jump to an asset with integration details without API key authentication,\
        \ only requiring authentication at the time of jump."
      tags:
      - Cards
  /companies:
    get:
      description: Retrieve a list of companies with optional filtering and pagination
        parameters.
      operationId: get_companies
      parameters:
      - description: Retrieve the specified page of results
        in: query
        name: page
        schema:
          type: number
      - description: Specify the number of results to return per page
        in: query
        name: page_size
        schema:
          type: number
      - description: Filter companies by name
        in: query
        name: name
        schema:
          type: string
      - description: Filter companies by phone number
        in: query
        name: phone_number
        schema:
          type: string
      - description: Filter companies by website
        in: query
        name: website
        schema:
          type: string
      - description: Filter companies by city
        in: query
        name: city
        schema:
          type: string
      - description: Filter companies by id_number
        in: query
        name: id_number
        schema:
          type: string
      - description: Filter companies by state
        in: query
        name: state
        schema:
          type: string
      - description: Filter companies by URL slug
        in: query
        name: slug
        schema:
          type: string
      - description: Filter companies by a search query
        in: query
        name: search
        schema:
          type: string
      - description: Filter companies by id/identifier in PSA/RMM/outside integration
        in: query
        name: id_in_integration
        schema:
          type: string
      - description: Filter companies updated within a range or at an exact time
        in: query
        name: updated_at
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_companies_200_response"
          description: A list of companies
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Retrieve a list of companies
      tags:
      - Companies
    post:
      description: Create a new company with the provided information.
      operationId: post_companies
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_companies_request"
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Company"
          description: Company created successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Create a new company
      tags:
      - Companies
      x-codegen-request-body-name: body
  /companies/{id}:
    delete:
      description: Delete a company by its ID. Returns a 204 if successful.
      operationId: delete_companies_id
      parameters:
      - description: ID of the company to delete
        in: path
        name: id
        required: true
        schema:
          type: number
      responses:
        "204":
          content: {}
          description: Company deleted successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Company not found
      summary: Delete a specific company
      tags:
      - Companies
    get:
      description: Fetch the details of a company by its ID.
      operationId: get_companies_id
      parameters:
      - description: ID of the requested company
        in: path
        name: id
        required: true
        schema:
          type: number
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_companies_id_200_response"
          description: Company found
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Company not found
      summary: Retrieve a specific company
      tags:
      - Companies
    put:
      description: Update the details of a company by its ID.
      operationId: put_companies_id
      parameters:
      - description: ID of the company to update
        in: path
        name: id
        required: true
        schema:
          type: number
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_companies_request"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_companies_id_200_response"
          description: Company updated successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Company not found
        "422":
          content: {}
          description: Unable to process request
      summary: Update a specific company
      tags:
      - Companies
      x-codegen-request-body-name: body
  /companies/{id}/archive:
    put:
      description: Mark a company as archived by its ID. Archived companies are hidden
        from the regular list of companies but can be retrieved if necessary.
      operationId: put_companies_id_archive
      parameters:
      - description: ID of the company to archive
        in: path
        name: id
        required: true
        schema:
          type: number
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_companies_id_200_response"
          description: Company archived successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Company not found
        "422":
          content: {}
          description: Archival failure
      summary: Archive a specific company
      tags:
      - Companies
  /companies/{id}/unarchive:
    put:
      description: Mark a previously archived company as unarchived by its ID. Unarchived
        companies are visible in the regular list of companies.
      operationId: put_companies_id_unarchive
      parameters:
      - description: ID of the company to unarchive
        in: path
        name: id
        required: true
        schema:
          type: number
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/get_companies_id_200_response"
          description: Company unarchived successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Company not found
        "422":
          content: {}
          description: Unarchival failure
      summary: Unarchive a specific company
      tags:
      - Companies
  /companies/jump:
    get:
      description: "Jump to a company that contains integration details, bypassing\
        \ the need for API key authentication. Authentication is only required at\
        \ the time of the jump. This is a convenient way to create links from external\
        \ integrations to Hudu."
      operationId: get_companies_jump
      parameters:
      - description: "Identifier of the external integration (e.g., 'cw_manage"
        in: query
        name: integration_slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Company"
          description: Company found
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Company not found
      summary: Jump to a company with integration details
      tags:
      - Companies
  /expirations:
    get:
      description: "Retrieve a list of expirations for the account, with optional\
        \ filtering and pagination."
      operationId: get_expirations
      parameters:
      - description: The current page of results to retrieve
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Filter expirations by company ID
        in: query
        name: company_id
        schema:
          format: int64
          type: integer
      - description: "Filter expirations by expiration type (undeclared, domain, ssl_certificate,\
          \ warranty, asset_field, article_expiration)"
        in: query
        name: expiration_type
        schema:
          type: string
      - description: Filter logs by resource ID; must be coupled with resource_type
        in: query
        name: resource_id
        schema:
          format: int64
          type: integer
      - description: "Filter logs by resource type (Asset, AssetPassword, Company,\
          \ Article, etc.); must be coupled with resource_id"
        in: query
        name: resource_type
        schema:
          type: string
      - description: The number of results to return per page
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Expiration"
                type: array
          description: A list of expirations
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Retrieve expirations for the account
      tags:
      - Expirations
  /exports:
    post:
      description: Initiate an export of a company with specified settings and filters.
      operationId: post_exports
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_exports_request"
        required: true
      responses:
        "200":
          content: {}
          description: Export initiated successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Initiate an export of a company
      tags:
      - Exports
      x-codegen-request-body-name: export
  /s3_exports:
    post:
      description: Initiate a s3 export. You must configure your S3-compatible credentials
        in the account settings page before using this endpoint.
      operationId: post_s3_exports
      responses:
        "200":
          content: {}
          description: Export initiated successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Initiate a s3 export.
      tags:
      - S3 Exports
  /folders:
    get:
      operationId: get_folders
      parameters:
      - description: Filter folders by name
        in: query
        name: name
        schema:
          type: string
      - description: Filter folders by company ID
        in: query
        name: company_id
        schema:
          format: int64
          type: integer
      - description: "When true, only returns company-specific KB articles"
        in: query
        name: in_company
        schema:
          type: boolean
      - description: The current page of results to retrieve
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: The number of results to return per page
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_folders_200_response"
          description: A list of folders
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Retrieve a list of folders
      tags:
      - Folders
    post:
      description: Create a new folder with the provided information.
      operationId: post_folders
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_folders_request"
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_folders_201_response"
          description: Folder created successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Create a folder
      tags:
      - Folders
      x-codegen-request-body-name: folder
  /folders/{id}:
    delete:
      description: Delete a folder by its ID.
      operationId: delete_folders_id
      parameters:
      - description: ID of the folder to delete
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: Folder deleted successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Folder not found
      summary: Delete a folder
      tags:
      - Folders
    get:
      description: Retrieve a folder by its ID.
      operationId: get_folders_id
      parameters:
      - description: ID of the requested folder
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_folders_201_response"
          description: Folder retrieved successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Folder not found
      summary: Retrieve a folder by ID
      tags:
      - Folders
    put:
      description: Update an existing folder with the provided information.
      operationId: put_folders_id
      parameters:
      - description: ID of the folder to update
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_folders_request"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/post_folders_201_response"
          description: Folder updated successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Folder not found
        "422":
          content: {}
          description: Unable to process request
      summary: Update a folder
      tags:
      - Folders
      x-codegen-request-body-name: folder
  /groups:
    get:
      description: Retrieve a list of groups. Member lists exclude admins and super
        admins.
      operationId: get_groups
      parameters:
      - description: Filter groups by name (case-insensitive)
        in: query
        name: name
        schema:
          type: string
      - description: Filter by default group status
        in: query
        name: default
        schema:
          type: boolean
      - description: Search across group names
        in: query
        name: search
        schema:
          type: string
      - description: The current page of results to retrieve
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: The number of results to return per page (max 1000)
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Group"
                type: array
          description: A list of groups
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Retrieve a list of groups
      tags:
      - Groups
  /groups/{id}:
    get:
      description: Retrieve a group by its ID. Member lists exclude admins and super
        admins.
      operationId: get_group_by_id
      parameters:
      - description: ID of the requested group
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
          description: Group retrieved successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Group not found
      summary: Retrieve a group by ID
      tags:
      - Groups
  /ip_addresses:
    get:
      description: "Retrieve a list of all IP addresses, with optional filtering."
      operationId: getIpAddresses
      parameters:
      - description: Filter by network ID
        in: query
        name: network_id
        schema:
          format: int64
          type: integer
      - description: Filter by IP address
        in: query
        name: address
        schema:
          type: string
      - description: Filter by IP address status
        in: query
        name: status
        schema:
          type: string
      - description: Filter by FQDN
        in: query
        name: fqdn
        schema:
          type: string
      - description: Filter by asset ID
        in: query
        name: asset_id
        schema:
          format: int64
          type: integer
      - description: Filter by company ID
        in: query
        name: company_id
        schema:
          format: int64
          type: integer
      - description: "Filter IP addresses created within a range or at an exact time.\
          \ Format: 'start_datetime,end_datetime' for range, 'exact_datetime' for\
          \ exact match. Both 'start_datetime' and 'end_datetime' should be in ISO\
          \ 8601 format. If 'start_datetime' is provided and 'end_datetime' is blank,\
          \ it filters companies updated from 'start_datetime' until now. Example:\
          \ '2023-06-07T12:34:56Z,' If 'end_datetime' is provided and 'start_datetime'\
          \ is blank, it filters companies updated from the past until 'end_datetime'.\
          \ Example: ',2023-06-07T12:34:56Z' If both 'start_datetime' and 'end_datetime'\
          \ are provided, it filters companies updated within that range. Example:\
          \ '2023-06-01T12:34:56Z,2023-06-07T12:34:56Z'"
        in: query
        name: created_at
        schema:
          type: string
      - description: "Filter IP addresses updated within a range or at an exact time.\
          \ Format: 'start_datetime,end_datetime' for range, 'exact_datetime' for\
          \ exact match. Both 'start_datetime' and 'end_datetime' should be in ISO\
          \ 8601 format. If 'start_datetime' is provided and 'end_datetime' is blank,\
          \ it filters companies updated from 'start_datetime' until now. Example:\
          \ '2023-06-07T12:34:56Z,' If 'end_datetime' is provided and 'start_datetime'\
          \ is blank, it filters companies updated from the past until 'end_datetime'.\
          \ Example: ',2023-06-07T12:34:56Z' If both 'start_datetime' and 'end_datetime'\
          \ are provided, it filters companies updated within that range. Example:\
          \ '2023-06-01T12:34:56Z,2023-06-07T12:34:56Z'"
        in: query
        name: updated_at
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IpAddress"
                type: array
          description: A list of IP addresses
        "401":
          content: {}
          description: Unauthorized
      summary: Get a list of IP addresses
      tags:
      - IP Addresses
    post:
      description: Add a new IP address to the system.
      operationId: createIpAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpAddress"
        description: IP Address object that needs to be added
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpAddress"
          description: IP address created
        "401":
          content: {}
          description: Unauthorized
        "422":
          content: {}
          description: Validation Error
      summary: Create a new IP address
      tags:
      - IP Addresses
      x-codegen-request-body-name: ip_address
  /ip_addresses/{id}:
    delete:
      description: Remove an IP address from the system.
      operationId: deleteIpAddress
      parameters:
      - description: IP Address ID
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: IP address deleted
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: IP address not found
      summary: Delete an IP address
      tags:
      - IP Addresses
    get:
      description: Retrieve details of a specific IP address by ID.
      operationId: getIpAddressById
      parameters:
      - description: IP Address ID
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpAddress"
          description: Details of an IP address
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: IP address not found
      summary: Get a single IP address
      tags:
      - IP Addresses
    put:
      description: Modify details of an existing IP address.
      operationId: updateIpAddress
      parameters:
      - description: IP Address ID
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpAddress"
        description: IP Address object with updated data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpAddress"
          description: IP address updated
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: IP address not found
        "422":
          content: {}
          description: Validation Error
      summary: Update an existing IP address
      tags:
      - IP Addresses
      x-codegen-request-body-name: ip_address
  /lists:
    get:
      operationId: get_lists
      parameters:
      - description: Search lists by name (partial match)
        in: query
        name: query
        schema:
          type: string
      - description: Filter by exact list name
        in: query
        name: name
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/List"
                type: array
          description: Successful operation
        "401":
          content: {}
          description: Unauthorized
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Get a list of Lists
      tags:
      - Lists
    post:
      operationId: create_list
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_list_request"
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/List"
          description: List created successfully
        "401":
          content: {}
          description: Unauthorized
        "422":
          content: {}
          description: Validation failed
      summary: Create a new List
      tags:
      - Lists
      x-codegen-request-body-name: body
  /lists/{id}:
    delete:
      operationId: delete_list
      parameters:
      - description: ID of the List to delete
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: List deleted successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: List not found
        "422":
          content: {}
          description: Error deleting list
      summary: Delete a List
      tags:
      - Lists
    get:
      operationId: get_list
      parameters:
      - description: ID of the List to retrieve
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/List"
          description: Successful operation
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: List not found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Get a specific List
      tags:
      - Lists
    put:
      operationId: update_list
      parameters:
      - description: ID of the List to update
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_list_request"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/List"
          description: List updated successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: List not found
        "422":
          content: {}
          description: Validation failed
      summary: Update a List
      tags:
      - Lists
      x-codegen-request-body-name: body
  /magic_dash:
    delete:
      description: |2
          <p>You can delete a Magic Dash item by sending the same parameters you do to create a magic dash item, but with a DELETE REST request.</p>
          <pre>
          {
            "title": "Microsoft 365",
            "company_name": "AcmeCorp"
          }
          </pre>
      operationId: delete_magic_dash
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/delete_magic_dash_request"
        required: true
      responses:
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Delete a Magic Dash Item without an ID
      tags:
      - Magic Dash
    get:
      operationId: get_magic_dash
      parameters:
      - description: Filter by title
        in: query
        name: title
        schema:
          type: string
      - description: Filter by company ID
        in: query
        name: company_id
        schema:
          format: int64
          type: integer
      - description: Retrieve the current page of results
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Set the number of results to return per page
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/MagicDash"
                type: array
          description: A list of Magic Dash Items
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Retrieve a list of Magic Dash Items
      tags:
      - Magic Dash
    post:
      operationId: post_magic_dash
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_magic_dash_request"
        required: true
      responses:
        "201":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/MagicDash"
          description: Magic Dash Item created or updated successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
        "422":
          content: {}
          description: Unable to process request
      summary: Create or update a Magic Dash Item
      tags:
      - Magic Dash
      x-codegen-request-body-name: magic_dash_item
  /magic_dash/{id}:
    delete:
      description: This endpoint allows you to delete a Magic Dash item by providing
        its unique ID.
      operationId: deleteMagicDashItemById
      parameters:
      - description: The unique ID of the Magic Dash item to be deleted
        in: path
        name: id
        required: true
        schema:
          type: number
      responses:
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Magic Dash item not found
        "422":
          content: {}
          description: Unable to process the request
      summary: Delete a Magic Dash item with the specified ID
      tags:
      - Magic Dash
  /matchers:
    get:
      description: Retrieve a list of matchers for a specific integration based on
        provided filters.
      operationId: getMatchers
      parameters:
      - description: "The ID of the integration, which can be found in the URL when\
          \ editing an integration."
        in: query
        name: integration_id
        required: true
        schema:
          type: integer
      - description: Filter by whether the company has already been matched.
        in: query
        name: matched
        schema:
          type: boolean
      - description: Filter by the ID of the record in the integration (used if the
          integration's ID is an integer).
        in: query
        name: sync_id
        schema:
          type: integer
      - description: Filter by the identifier in the integration (used if the integration's
          ID is a string).
        in: query
        name: identifier
        schema:
          type: string
      - description: The current page of results.
        in: query
        name: page
        schema:
          type: integer
      - description: The number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Filter by company ID.
        in: query
        name: company_id
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMatchers_200_response"
          description: A list of matchers
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: List matchers for an integration
      tags:
      - Matchers
  /matchers/{id}:
    delete:
      description: Delete the specified Matcher by its ID. Returns a 204 if successful.
      operationId: deleteMatcherById
      parameters:
      - description: The ID of the Matcher to delete.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: Matcher successfully deleted
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Matcher not found
      summary: Delete a Matcher
      tags:
      - Matchers
    put:
      description: Update the specified Matcher's attributes.
      operationId: updateMatcherById
      parameters:
      - description: The ID of the Matcher to update.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateMatcherById_request"
        description: Matcher update attributes
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Matcher"
          description: Matcher successfully updated
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Matcher not found
        "422":
          content: {}
          description: Unable to process request
      summary: Update a Matcher
      tags:
      - Matchers
      x-codegen-request-body-name: matcher
  /networks:
    get:
      description: "Retrieve a list of all networks, with optional filtering."
      operationId: getNetworks
      parameters:
      - description: Filter by company ID
        in: query
        name: company_id
        schema:
          format: int64
          type: integer
      - description: Filter by network slug
        in: query
        name: slug
        schema:
          type: string
      - description: Filter by network name
        in: query
        name: name
        schema:
          type: string
      - description: Filter by network type
        in: query
        name: network_type
        schema:
          type: integer
      - description: Filter by network address
        in: query
        name: address
        schema:
          type: string
      - description: Filter by location ID
        in: query
        name: location_id
        schema:
          format: int64
          type: integer
      - description: "Filter networks created within a range or at an exact time.\
          \ Format: 'start_datetime,end_datetime' for range, 'exact_datetime' for\
          \ exact match."
        in: query
        name: created_at
        schema:
          type: string
      - description: "Filter networks updated within a range or at an exact time.\
          \ Format: 'start_datetime,end_datetime' for range, 'exact_datetime' for\
          \ exact match."
        in: query
        name: updated_at
        schema:
          type: string
      - description: "Filter networks by archive status. Set to 'true' to show only\
          \ archived networks, 'false' to show only non-archived networks. Defaults\
          \ to 'false' if not specified."
        in: query
        name: archived
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Network"
                type: array
          description: A list of networks
        "401":
          content: {}
          description: Unauthorized
      summary: Get a list of networks
      tags:
      - Networks
    post:
      description: Add a new network to the system.
      operationId: createNetwork
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNetwork_request"
        description: Network object that needs to be added
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Network"
          description: Network created
        "401":
          content: {}
          description: Unauthorized
        "422":
          content: {}
          description: Validation Error
      summary: Create a new network
      tags:
      - Networks
      x-codegen-request-body-name: network
  /networks/{id}:
    delete:
      description: Remove a network from the system.
      operationId: deleteNetwork
      parameters:
      - description: Network ID
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content: {}
          description: Network successfully deleted
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Network not found
      summary: Delete a network
      tags:
      - Networks
    get:
      description: Retrieve details of a specific network by ID.
      operationId: getNetworkById
      parameters:
      - description: Network ID
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Network"
          description: Details of a network
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Network not found
      summary: Get a single network
      tags:
      - Networks
    put:
      description: Modify details of an existing network.
      operationId: updateNetwork
      parameters:
      - description: Network ID
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNetwork_request"
        description: Network object with updated data
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Network"
          description: Network updated
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Network not found
        "422":
          content: {}
          description: Validation Error
      summary: Update an existing network
      tags:
      - Networks
      x-codegen-request-body-name: network
  /password_folders:
    get:
      operationId: getPasswordFolders
      parameters:
      - description: Filter folders by name
        in: query
        name: name
        schema:
          type: string
      - description: Filter folders by company ID
        in: query
        name: company_id
        schema:
          format: int64
          type: integer
      - description: Filter by search query
        in: query
        name: search
        schema:
          type: string
      - description: The current page of results to retrieve
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: The number of results to return per page
        in: query
        name: page_size
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPasswordFolders_200_response"
          description: A list of password folders
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Retrieve a list of password folders
      tags:
      - Password Folders
    post:
      description: Add a new password folder to the system.
      operationId: createPasswordFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createPasswordFolder_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPasswordFolder_201_response"
          description: Created Password Folder
        "401":
          content: {}
          description: Unauthorized
        "422":
          content: {}
          description: Validation errors
      summary: Create a new password folder
      tags:
      - Password Folders
      x-codegen-request-body-name: password_folder
  /password_folders/{id}:
    delete:
      description: Remove a password folder from the system.
      operationId: deletePasswordFolder
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "204":
          content:
            application/json:
              schema:
                type: string
          description: Password folder successfully deleted
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not found
      summary: Delete a password folder
      tags:
      - Password Folders
    get:
      description: Retrieve a password folder by its ID.
      operationId: getPasswordFolderById
      parameters:
      - description: ID of the requested password folder
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPasswordFolder_201_response"
          description: Password Folder retrieved successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Password Folder not found
      summary: Retrieve a password folder by ID
      tags:
      - Password Folders
    put:
      description: Modify details of an existing password folder.
      operationId: updatePasswordFolder
      parameters:
      - description: ID of the folder to update
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updatePasswordFolder_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPasswordFolder_201_response"
          description: Password Folder updated successfully
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not found
        "422":
          content: {}
          description: Validation errors
      summary: Update an existing password folder
      tags:
      - Password Folders
      x-codegen-request-body-name: password_folder
  /procedure_tasks:
    get:
      description: "Retrieve a list of procedure tasks filtered by procedure ID, name,\
        \ or company ID."
      operationId: getProcedureTasks
      parameters:
      - description: Filter by the procedure ID.
        in: query
        name: procedure_id
        schema:
          type: integer
      - description: Filter by the name of the task.
        in: query
        name: name
        schema:
          type: string
      - description: Filter by the company ID.
        in: query
        name: company_id
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProcedureTasks_200_response"
          description: A list of procedure tasks
        "401":
          content: {}
          description: Unauthorized
      summary: Get a list of Procedure Tasks
      tags:
      - Procedure Tasks
    post:
      description: Create a new task with specified attributes.
      operationId: createProcedureTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createProcedureTask_request"
        description: Procedure Task object to be created
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProcedureTask_201_response"
          description: Procedure Task created successfully
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Create a new Procedure Task
      tags:
      - Procedure Tasks
      x-codegen-request-body-name: procedure_task
  /procedure_tasks/{id}:
    delete:
      description: Remove a procedure task by its ID.
      operationId: deleteProcedureTask
      parameters:
      - description: The ID of the procedure task to delete.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteProcedureTask_200_response"
          description: Procedure Task successfully deleted
        "404":
          content: {}
          description: Procedure Task not found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Delete a Procedure Task
      tags:
      - Procedure Tasks
    get:
      description: Retrieve a specific procedure task by its ID.
      operationId: getProcedureTaskById
      parameters:
      - description: The ID of the procedure task to retrieve.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProcedureTask_201_response"
          description: The requested procedure task
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Procedure task not found
      summary: Get a Procedure Task by ID
      tags:
      - Procedure Tasks
    put:
      description: Update an existing task with specified attributes.
      operationId: updateProcedureTask
      parameters:
      - description: The ID of the procedure task to update.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateProcedureTask_request"
        description: Procedure Task object with updated attributes
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createProcedureTask_201_response"
          description: Procedure Task updated successfully
        "404":
          content: {}
          description: Procedure Task not found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Update a Procedure Task
      tags:
      - Procedure Tasks
      x-codegen-request-body-name: procedure_task
  /procedures:
    get:
      description: Retrieve a list of procedures filtered by the provided parameters.
      operationId: getProcedures
      parameters:
      - description: Filter by the name of the procedure.
        in: query
        name: name
        schema:
          type: string
      - description: Filter by the associated company ID.
        in: query
        name: company_id
        schema:
          type: integer
      - description: The current page of results.
        in: query
        name: page
        schema:
          type: integer
      - description: The number of results to return per page.
        in: query
        name: page_size
        schema:
          type: integer
      - description: Filter by the URL slug of the procedure.
        in: query
        name: slug
        schema:
          type: string
      - description: "Filter for global templates. 'true' for global templates, 'false'\
          \ for company-specific procedures"
        in: query
        name: global_template
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: Filter for company-specific templates. Provide the company ID
          to filter templates for that company
        in: query
        name: company_template
        schema:
          type: integer
      - description: Filter for child procedures of a specific parent procedure
        in: query
        name: parent_procedure_id
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProcedures_200_response"
          description: A list of procedures
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Not Found
      summary: Get a list of Procedures (Processes)
      tags:
      - Procedures
    post:
      description: Create a new procedure without any tasks
      operationId: createProcedure
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createProcedure_request"
        description: Procedure attributes
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Procedure"
          description: Successful operation
        "400":
          content: {}
          description: Invalid JSON format
        "401":
          content: {}
          description: Unauthorized
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Create a new Procedure (Process)
      tags:
      - Procedures
      x-codegen-request-body-name: body
  /procedures/{id}:
    delete:
      description: Remove a procedure by its ID.
      operationId: deleteProcedure
      parameters:
      - description: The ID of the procedure to delete.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteProcedureTask_200_response"
          description: Procedure successfully deleted
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Procedure not found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Delete a Procedure
      tags:
      - Procedures
    get:
      description: Retrieve a procedure by its ID.
      operationId: getProcedureById
      parameters:
      - description: The ID of the requested procedure.
        in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProcedureById_200_response"
          description: The requested procedure
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Procedure not found
      summary: Get a Procedure (Process)
      tags:
      - Procedures
    put:
      description: "Edit the name, description, and template status of an existing\
        \ procedure."
      operationId: updateProcedure
      parameters:
      - description: The ID of the procedure to update.
        in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateProcedure_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProcedureById_200_response"
          description: Procedure successfully updated
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Procedure not found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Update an existing Procedure
      tags:
      - Procedures
      x-codegen-request-body-name: body
  /procedures/{id}/create_from_template:
    post:
      description: "Create a new procedure instance from an existing template. If\
        \ company_id is not provided, it creates a global template; otherwise, it\
        \ creates a company-specific template."
      operationId: createProcedureFromTemplate
      parameters:
      - description: The ID of the template procedure to duplicate.
        in: path
        name: id
        required: true
        schema:
          type: integer
      - description: "The ID of the company for the new procedure. If not provided,\
          \ a global template will be created."
        in: query
        name: company_id
        schema:
          type: integer
      - description: The new name for the procedure.
        in: query
        name: name
        schema:
          type: string
      - description: The new description for the procedure.
        in: query
        name: description
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProcedureById_200_response"
          description: Procedure successfully created from template
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Template not found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Create a Procedure from Template
      tags:
      - Procedures
  /procedures/{id}/duplicate:
    post:
      description: "Create a new procedure by duplicating an existing one, with optional\
        \ modifications."
      operationId: duplicateProcedure
      parameters:
      - description: The ID of the procedure to duplicate.
        in: path
        name: id
        required: true
        schema:
          type: integer
      - description: The ID of the company for the new duplicated procedure.
        in: query
        name: company_id
        required: true
        schema:
          type: integer
      - description: The new name for the duplicated procedure (optional).
        in: query
        name: name
        schema:
          type: string
      - description: The new description for the duplicated procedure (optional).
        in: query
        name: description
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getProcedureById_200_response"
          description: Procedure successfully duplicated
        "401":
          content: {}
          description: Unauthorized
        "404":
          content: {}
          description: Original procedure not found
        "422":
          content: {}
          description: Unprocessable Entity
      summary: Duplicate an existing Procedure
      tags:
      - Procedures
  /procedures/{id}/kickoff:
    post:
      description: "Start a process from a company process. Optionally, attach the\
        \ process to an asset by providing an asset ID, or change the process name\
        \ by passing a new name."
      operationId: kickoffProcedureById
      parameters:
      - description: The ID of the requested procedure.
        in: path
        name: id
        required: true
        schema:
          type: integer
      - description: The ID of the asset to attach the process to (optional).
        in: query
        name: asset_id
        schema:
          type: integer
      - description: The new name for the procedure (optional).
        in: query
        name: name
        schema:
          type: string
      responses:
        "200":
          content:
[...]
